.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(194, 211, 218, 0.383);
    overflow-x: hidden;
}

.user-logo {
    position: absolute;
    bottom: 1rem;
    left: 0.4rem;
}