.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon {
    font-size: 1.6rem;
    padding: 1rem 0;
    cursor: pointer;
}

.icon:hover {
    color: black;
}

.red-dot {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}