@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030303;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 600px;
  margin: 0 auto;
}

.contents {
  width: 100%;
}

.heading {
  font-size: 32px;
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}

.input {
  background: transparent;
  padding: 0.8rem;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.input-text-center {
  text-align: center;
}

.button-main {
  padding-top: 2rem;
}

.button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #FFFFFF;
}

.button-false {
  background: #C2C2C2;
}

.button-true {
  background: #6741D9;
}

.button:hover {
  border: 1px solid #F0C3F1;
}

.active {
  border: 1px solid #F0C3F1;
}

.bg-input-false {
  color: #C2C2C2;
  border: 1px solid #C2C2C2;
}

.bg-input-true {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.chart {
  padding-top: 2rem;
}


/* css for the dashboard */